# Telegram API credentials
TELEGRAM_API_ID=39420909
TELEGRAM_API_HASH=Oa61a05dd916df9b8582a23809939179
TELEGRAM_PHONE_NUMBER=+37068946436

# Database configuration
DB_FILE=database.db

# Logging configuration
LOG_FILE=logs/advanced-telegram-autoresponder.log
LOG_LEVEL=INFO
